body {
  font-family: "Bruno Ace SC", cursive;
  background-image: url("/images/tronCircles.png");
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.heading {
  padding: 20px;
  color: aqua;
  background-color: #01161ece;
  margin-top: -50px;
  border-radius: 20px;
  letter-spacing: 0.4rem;
  text-shadow: 0 0 20px aqua;
  text-align: center;
}
#board-container {
  background-image: url("/images/tron.png");
  background-size: cover;
  width: 35rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 30px;
}

.square {
  height: 8rem;
  width: 8rem;
  background-color: rgba(58, 88, 112, 0.391);
  margin: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 20px rgba(152, 251, 251, 0.733);
}
#move {
  font-size: 6rem;
  color: aqua;
  text-shadow: 0 0 50px aqua;
  font-family: "Bruno Ace SC", cursive;
}
