body {
  font-family: "Bruno Ace SC", cursive;
  background-image: url("/images/tronCircles.png");
  background-size: cover;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
#page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.heading {
  padding: 10px;
  color: aqua;
  background-color: #01161ee6;
  border-radius: 10px;
  letter-spacing: 0.4rem;
  text-shadow: 0 0 20px aqua;
  text-align: center;
  box-shadow: 0 0 60px rgba(112, 247, 245, 0.605);
}
#board-container {
  background-image: url("/images/tron.png");
  background-size: cover;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 0 60px rgba(112, 247, 245, 0.625);
}

.square {
  height: 25%;
  width: 25%;
  background-color: rgba(31, 45, 57, 0.701);
  margin: 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 20px rgba(152, 251, 251, 0.733);
}
#move {
  font-size: 4rem;
  color: aqua;
  text-shadow: 0 0 50px aqua;
  font-family: "Bruno Ace SC", cursive;
}
#start-btn {
  background-color: rgba(1, 174, 174, 0.305);
  color: aqua;
  border: 1px solid rgb(1, 255, 255);
  border-radius: 0.2rem;
  padding: 10px 20px;
  margin: 20px;
  font-size: 1.5rem;
  box-shadow: 0 0 10px aqua;
  font-family: "Bruno Ace SC", cursive;
  transition: background-color 0.8s ease-in-out;
}
#start-btn:hover {
  background-color: rgba(33, 242, 242, 0.759);
  color: black;
  box-shadow: 0 0 30px aqua;
}
#modal-box {
  padding: 10px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
#transition-modal-title {
  padding: 0;
  margin: 0;
  font-size: 1.8rem;
  text-align: center;
  font-family: "Bruno Ace SC", cursive !important;
}
#transition-modal-description {
  font-family: "Bruno Ace SC", cursive !important;
  font-size: 1.5rem;
}

@media only screen and (min-width: 800px) {
  #modal-box {
    width: 50%;
    padding: 30px;
  }
  .heading {
    font-size: 5rem;
    margin: 15px;
  }
  #board-container {
    width: 40vw;
    margin: 0;
  }
  .square {
    width: 10vw;
    height: 10vw;
    margin: 20px;
  }
  #move {
    font-size: 8rem;
  }
}
